<style>
  .table-striped>tr:nth-child(odd) {
    background-color: red;
  }

  .mine {
    color: chartreuse;
  }

  .heading {
    color: black;
    padding-left: 10px;
    padding-top: 30px;
  }

  .bar {
    padding-left: 100px;
    margin-top: 50px;
    display: block;
    max-width: 750px;
    max-height: 300px;

  }

  .export {
    margin-top: 40px;
    /* margin-left: 450px; */
  }

  .total {
    margin-top: 20px;

  }
  td{
        font-weight: 500;
    }
    table, td ,th{
  border: 1px solid black;}

</style>

<div style="clear: both; margin-top: 20px ; margin-bottom: 30px;">

  <h2 style = "float:left" class="heading">Profit/Loss Summary by Security
  </h2>


    
</div>

<table mdbTable bordered = "true"  >
  <thead class="black white-text">
    <tr>
      <th scope="col">ISIN</th>
      <th scope="col">Security</th>
      <th scope="col">Balance</th>
      <th scope="col">Maturity Date</th>
     
   </tr>
  </thead>
  <tbody>
   
    <tr mdbTableCol *ngFor="let bal of getTable">
      <td style = "font-weight: 500;">{{bal.isin}}</td>
      <td style = "font-weight: 500;">{{bal.security}}</td>
      <td style = "font-weight: 500;">{{bal.balance}}</td>
      <td style = "font-weight: 500;">{{bal.maturityDate}}</td>
      </tr>
  </tbody>
</table>








<h4><u>Total Realized Profit</u> : <!---- {profit.profits}   --></h4>

<h4><u>Total Coupon Accrued</u> :<!---- {coupons.couponpayment}   --> </h4>




