
<style>
    td{
        font-weight: 500;
    }
    table, td {
  border: 1px solid black;
}
</style>

<div style = "margin: 20px; padding: 12px;">
    <div class="export" class="d-flex justify-content-end">
        <button mdbBtn type="button" color="black" mdbWavesEffect>
          <mdb-icon fas icon="magic" class="mr-1"></mdb-icon>Generate Trades
        </button>
       
      </div>


<h2 style = "font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 20px;"><u>Opening Securities Balance</u></h2>
    


<table mdbTable bordered="true"  >
    <thead class="black white-text">
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of elements">
        <th scope="row">{{el.id}}</th>
        <td style = "font-weight: 500;">{{el.first}}</td>
        <td style="font-weight: 500;">{{el.last}}</td>
        <td style = "font-weight: 500;">{{el.handle}}</td>
        <td style = "font-weight: 500;">{{el.total}}</td>
      
      </tr>
    </tbody>
  </table>

  <h2 style = "font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-top: 20px; margin-bottom: 20px;"><u>Trades in FY 2020-21</u></h2>

  


<table mdbTable bordered = "true"  >
    <thead class="black white-text">
      <tr>
        <th scope="col">ISIN</th>
        <th scope="col">Security Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">BUy/Sell</th>
        <th scope="col">Price Per Security</th>
        <th scope="col">Trade Date</th>
      </tr>
    </thead>
    <tbody>
     
      <tr>
      
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
    </tbody>
  </table>

  <h1>FOR TESTING PURPOSES</h1>

 

<table mdbTable bordered = "true" >
    <thead class="black white-text">
      <tr>
        <th scope="col">Security</th>
        <th scope="col">Quantity</th>
        <th scope="col">Buy/Sell</th>
       </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </tbody>
    </table>

    </div>






