<div style = "margin: 20px; padding: 12px;">
 <style>
    td{
        font-weight: 500;
    }
</style>

<div style="clear: both; margin-top: 20px;">
  <h2 style = "font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-top: 20px;float:left; margin-bottom: 20px;"><u>Trades in FY 2020-21</u></h2>

  <div  style="float: right" class="export" class="d-flex justify-content-end">
    <button mdbBtn type="button" color="black" mdbWavesEffect onclick="Export()">
      <mdb-icon fas icon="magic" class="mr-1"></mdb-icon>Export to PDF
    </button>
    <button mdbBtn type="button" color="black" mdbWavesEffect onclick="exportToExcel('tblCustomers')">
      <mdb-icon fas icon="magic" class="mr-1"></mdb-icon>Export to Excel
    </button>
  </div>
</div>

  


<table id="tblCustomers" mdbTable bordered = "true" >
    <thead class="black white-text">
      <tr>
        <th scope="col">ISIN</th>
        <th scope="col">Security Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">BUy/Sell</th>
        <th scope="col">Price Per Security</th>
        <th scope="col">Trade Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>

      <tr>
       
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
       
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
       
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
       
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
        
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
      <tr>
      
        <td>1011167932</td>
        <td>T-Bills</td>
        <td>32</td>
        <td>Buy</td>
        <td>INR 2300</td>
        <td>23/11/1018</td>
      </tr>
    </tbody>
  </table>



</div>