
<div class="container" >
    <form>
      <label for="fname" style= "margin-bottom: -2px;">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname" style= "margin-bottom: -2px;">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">

      <label for="quantity" style= "margin-bottom: -2px;">Quantity</label>
      <input name = "quantity" id = "quantity"  type="text" placeholder="Total Quantity">
  
      <label for="security" style= "margin-bottom: -2px;">Security</label>
  <select name="security" id="security" style="margin-bottom: 10px;">
   
    <option value="T-bills">T-bills</option>
    <option value="jinx bonds">jinx bonds</option>
    <option value="Municipal bonds">Municipal bonds</option>
  </select>

  <aside>
  <h2 style="margin-bottom: 8px;">Buy/Sell</h2>
  

    <div class="onoffswitch">
       
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>

</aside>


    
      <input type="submit" value="Submit">
    </form>
  </div>




    


